.box-xl-misconocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    background-color: rgb(248, 248, 248);
}
.box-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 2%;
}
.titulo-misconocimientos {
    font-family: 'Give You Glory', cursive;
    width: 50%;
    padding-bottom: 1%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 68px;
    font-weight: 700;
}
.titulo-misconocimientos:hover {
    font-size: 70;
    color: yellow;
}
.txt-conocimientos-lorem {
    width: 60%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color: rgb(0, 0, 0);
    font-size: 24px;
}
/*BOX CARDS*/
.box-cards{
    width: 1000px;
    margin-top: 3%;
    padding: 10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}
.box-icon {
    width: 280px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;   
    padding: 5%;
    margin: 1%;
    background-color: rgb(255, 255, 255); 
    border: solid 1px rgb(241, 240, 240);
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #8d8c8c;
}
.box-icon:hover {
    box-shadow: 0 0 8px 0 yellow;
    border: solid 1px yellow;
}
.html-color {
    color: rgb(229 77 38);
}
.css-color {
    color: rgb(61 143 198);
}
.sass-color {
    color: rgb(204 102 153);
}
.javascript-color {
    color: rgb(240 219 79);
}
.react-color {
    color: rgb(97 218 251);
}
.git-color {
    color: rgb(243 79 41);
}
.fontsize {
    background-color: rgb(255, 255, 255);
    font-size: 85px;
    margin-bottom: 15%;
}
.name-icon {
    font-size: 25px;
}




